doctype html
html(lang='en', ng-app="twebApp")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= "TWEB - Github API Demo"
    block css
      link(rel='stylesheet', href='/sb-admin-2/bower_components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.css')
      link(rel='stylesheet', href='/sb-admin-2/dist/css/timeline.css')
      link(rel='stylesheet', href='/sb-admin-2/dist/css/sb-admin-2.css')
      link(rel='stylesheet', href='/sb-admin-2/bower_components/font-awesome/css/font-awesome.min.css', type='text/css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    div.wrapper
      nav.navbar.navbar-default.navbar-static-top(role="navigation", style="margin-bottom: 0")
        div.navbar-header
          a.navbar-brand TWEB - Github API Demo
      
      controller(ng-controller="GitHubController")
        div.page-wrapper(style="padding:20px")
          div.row
            div.col-lg-12
              div.page-header(style="float: left")
                img(src="{{user.avatar_url}}", height="90", width="90")
              div.page-header(style="float: left")
                h1 &nbsp; {{title}}
                &nbsp;&nbsp;&nbsp;&nbsp; {{sub}}
          div.row
            div.input-group.custom-search.form(style="padding:15px;width:300px")
              input.form-control(ng-model="username", type="text", placeholder="Username?")
              span.input-group-btn
                button.btn.btn-default(ng-click="on_user(username)", type="button")
                  i.fa.fa-search
          div.row(ng-show="stats")
            div.col-lg-3.col-md-6
              div.panel.panel-primary
                div.panel-heading
                  div.row
                    div.col-xs-12.text-right
                      div.huge Most Forked
                      div {{max_fork.text}}
                a(href="{{max_fork.url}}")
                  div.panel-footer
                    span.pull-left {{max_fork.url_text}}
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    div.clearfix
            div.col-lg-3.col-md-6
              div.panel.panel-green
                div.panel-heading
                  div.row
                    div.col-xs-12.text-right
                      div.huge Most Watched
                      div {{max_watch.text}}
                a(href="{{max_watch.url}}")
                  div.panel-footer
                    span.pull-left {{max_watch.url_text}}
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    div.clearfix
            div.col-lg-3.col-md-6
              div.panel.panel-yellow
                div.panel-heading
                  div.row
                    div.col-xs-12.text-right
                      div.huge Most Recently Updated
                      div {{most_recent.text}}
                a(href="{{most_recent.url}}")
                  div.panel-footer
                    span.pull-left {{most_recent.url_text}}
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    div.clearfix
            div.col-lg-3.col-md-6
              div.panel.panel-red
                div.panel-heading
                  div.row
                    div.col-xs-12.text-right
                      div.huge Most Issues
                      div {{max_issues.text}}
                a(href="{{max_issues.url}}")
                  div.panel-footer
                    span.pull-left {{max_issues.url_text}}
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    div.clearfix
          div.row(ng-show="data")
            div.col-lg-8
              div.panel.panel-default
                div.panel-heading
                  i.fa.fa-bar-chart-o.fa-fw
                  {{data.title}}
                div.panel-body
                  canvas(id="repo_sizes", class="chart chart-doughnut", chart-data="data.sizes", chart-labels="data.labels")
                  
                  
  script(src='/sb-admin-2/bower_components/jquery/dist/jquery.min.js')
  script(src='/sb-admin-2/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.js')
  script(src='/sb-admin-2/dist/js/sb-admin-2.js')
  script(src='/components/angular/angular.js')
  script(src='/components/chart.js/Chart.js')
  script(src='/components/angular-chart.js/angular-chart.js')
  script(src='/components/github-api/github.js')
  script(src='/js/tweb-app.js')