doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/sb-admin-2/bower_components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.css')
      link(rel='stylesheet', href='/sb-admin-2/dist/css/timeline.css')
      link(rel='stylesheet', href='/sb-admin-2/dist/css/sb-admin-2.css')
      link(rel='stylesheet', href='/sb-admin-2/bower_components/font-awesome/css/font-awesome.min.css', type='text/css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
  
  script(src='/sb-admin-2/bower_components/jquery/dist/jquery.min.js')
  script(src='/sb-admin-2/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.js')
  script(src='/sb-admin-2/dist/js/sb-admin2.js')
  script(src='/js/tweb-app.js')
